/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";
@import "formpacientevalidate";

.formSignIn {
    top: 10%;
    right: 20%;
    bottom: 10%;
    left: 20%;
    min-height: 240px;
    width: 60%;
}

.formLogin{
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.formLogin .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  margin-top: -50px; /* the height of the centered content */
  text-align: center;
}
.formLogin .scroll {
  display: table-cell;
  vertical-align: middle;
}