<ion-view view-title="main debug">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
	  <!-- backend -->
        <ion-item class="item item-divider item-text-wrap">
        <h2>Backend</h2>
        Url: {{ctrl.backendRequestUrl}}<br>
        Console Response: {{ctrl.urlSended}}<br>
        Status: {{ctrl.backendStatus}}<br>
        State:  {{ctrl.backendState}}<br>
        </ion-item>
      	<ion-item class="item item-text-wrap" >
      	URI: <input type="text" placeholder="URI" ng-model="ctrl.backendUri" /> 
        Method: <input type="text" placeholder="GET, POST, PUT, DELETE" ng-model="ctrl.backendMethod" />
        <button class="button button-block button-dark" ng-click="ctrl.backendTest()" >    
          Test Backend
        </button>
      	{{ctrl.backendConsole}}
      	</ion-item>

      <ion-item class="item item-divider">
       Checks
      </ion-item>
      <ion-item class="item item-icon">
        icons working?
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item class="item item-thumbnail">
        uri's working?<br>
        Total: {{ctrl.data.features.size}}
        <div ng-repeat="item in ctrl.data.features.items"><i class="icon ion-checkmark-circled"></i><label>{{item.function}} - {{item.method}} - {{item.rota}}</label>&nbsp;</div>
      </ion-item>
      <ion-item class="item item-thumbnail">
        images working?<br>
        <img width="75" src="main/assets/images/yo@2x.png">
      </ion-item>
      <ion-item class="item">{{ctrl.someData.binding}} <button class="button button-block button-dark" ng-click="ctrl.serviceTest()">Test Service</button></ion-item>
      <ion-item class="item item-divider">Environment variables:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.ENV | json}}</pre>
      </ion-item>
      <ion-item class="item item-divider">Build variables:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.BUILD | json}}</pre>
      </ion-item>
      <ion-item class="item item-divider">Device:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.device | json}}</pre>
      </ion-item>

      <!-- proxy -->
      <ion-item class="item item-divider">Proxy:</ion-item>
      <ion-item class="item item-thumbnail">
        <button class="button button-block button-dark"
          ng-click="ctrl.proxyTest()">
          Test Proxy
        </button>
        {{ctrl.proxyState}}<br>
        {{ctrl.proxyRequestUrl}}
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
