<ion-view view-title="EAS">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ui-sref="main.easAdd" >
        <span>Novo</span>
        <i class="icon ion-person-add"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="row text-center" style="background: #1b68ea; color:white;">
        <div class="col text-center icon-row">Items/Datas</div>
        <div class="col text-center" ng-repeat="result in ctrl.datas | orderBy: 'data'">{{result.data | date: 'dd/MM/yyyy'}}
        </div>
    </div>

      <div class="row" ng-repeat="sigla in ctrl.registros | unique: 'sigla'" ng-init="ctrl.tests(sigla.sigla)" style="background: white; color:blue;">
        <div class="col text-center">{{sigla.sigla}}</div>
        <div class="col text-center" ng-repeat="item in ctrl.render[$index]">{{item.value}}</div>
      </div>

  </ion-content>
</ion-view>
