<ion-view view-title="Hemograma">
  <ion-content>
    <div class="button-bar">
        <button class="button icon-right ion-plus-round positive" ng-click="ctrl.form()">Novo item</button>
    </div>
    <div class="row text-center" style="background: #1b68ea; color:white;">
        <div class="col text-center icon-row">Items/Datas</div>
        <div class="col text-center" ng-repeat="result in datas | orderBy: 'data'">{{result.data | date: 'dd/MM/yyyy'}}
        </div>
    </div>

      <div class="row" ng-repeat="sigla in registros | unique: 'sigla'" ng-init="ctrl.tests(sigla.sigla)" style="background: white; color:blue;">
        <div class="col text-center">{{sigla.sigla}}</div>
        <div class="col text-center" ng-repeat="item in render[$index]">{{item.value}}</div>
      </div>

  </ion-content>
</ion-view>
