<ion-view view-title="Hemograma">
  <ion-content>
    <div class="list">
       <label class="item item-input item-select">
          <div class="input-label" width="10%">
            Item de Exame
          </div>
          <select width="90%" style="width: 90%" ng-model="ctrl.registro.sigla" ng-options="sigla for sigla in ctrl.siglasGeral">
          </select>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Data</span>
          <input type="date" id="date" name="date" ng-model="ctrl.registro.dataInput"
         placeholder="dd/MM/yyyy" min="1980-01-01" max="2050-12-30" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Value</span>
          <input type="text" placeholder="Value" ng-model="ctrl.registro.value">
        </label>  

      <div class="button-bar">
          <button class="button icon-right ion-plus-round positive" ng-click="ctrl.add()">Novo item</button>
      </div>
    </div>
<!-- table hide -->
    <div class="row text-center" ng-show="false">
      <div class="col text-center icon-row">Items/Datas</div>
      <div class="col text-center" ng-repeat="result in registros">{{result.data | date: 'dd/MM/yyyy'}}</div>
    </div>

    <div class="row" ng-repeat="sigla in ctrl.registros | unique: 'sigla'" ng-init="ctrl.tests(sigla.sigla)" ng-show="false">
      <div class="col text-center">{{sigla.sigla}}</div>
      <div class="col text-center" ng-repeat="item in render[$index]">{{item.value}}</div>
    </div>

      <a class="item item-icon-left" >
        <i class="icon ion-information"></i>
        Total:
        <span class="badge badge-assertive" ng-bind="registros.length" ></span>
      </a>
      <div class="row text-center" ng-repeat="result in registros | orderBy: 'data'">
        <div class="col text-center" >{{result.id}}</div>
        <div class="col text-center" >{{result.data | date: 'dd/MM/yyyy'}}</div>
        <div class="col text-center" >{{result.sigla}}</div>
        <div class="col text-center" >{{result.value}}</div>
         <div class="col text-center" ><a class="button button-icon icon ion-trash-b" ng-click="ctrl.remove($index)"></a></div>
      </div>
      <div class="button-bar">
        <a class="button button-icon icon ion-social-android-outline" title="Mock" ng-click="ctrl.newMock();ctrl.add();"></a>
       </div>

      </div>

  </ion-content>
</ion-view>
