<ion-view view-title="Home">
  <ion-content>
    <!-- header -->
    <div class="row text-center">
      <div class="col text-center icon-row">Items/Datas</div>
      <div class="col text-center" ng-repeat="result in registros">{{result.data | date: 'dd/MM/yyyy'}}</div>
    </div>
    <!-- body -->
    <div class="row" ng-repeat="sigla in ctrl.registros | unique: 'sigla'" ng-init="ctrl.tests(sigla.sigla)">
      <div class="col text-center">{{sigla.sigla}}</div>
      <div class="col text-center" ng-repeat="item in render[$index]">{{item.value}}</div>
    </div>
  </ion-content>
</ion-view>