<ion-view view-title="Home">
  <ion-content>

	<div class="button-bar" ng-show="!usuarioWeb.isLogado">
      <button class="button button-positive" ui-sref="main.login">Login</button>
    </div>

	<div class="list" ng-show="usuarioWeb.isLogado">

	  <a class="item item-icon-left" ui-sref="main.pacienteSearch">
	    <i class="icon ion-person-stalker"></i>
	    Pacientes
	    <span class="badge badge-positive" ng-controller="PacienteCtrl as pacienteCtrl">{{pacienteList.length}}</span>
	  </a>
	  <a class="item item-icon-left" ui-sref="main.exameSearch">
	    <i class="icon ion-ios-pulse"></i>
	    Exame
	    <span class="badge badge-positive" ng-controller="ExameCtrl as exameCtrl">{{exameList.length}}</span>
	  </a>
	  <a class="item item-icon-left" ui-sref="main.tipoExameSearch">
	    <i class="icon ion-ios-pricetag"></i>
	    Tipo de Exame
	    <span class="badge badge-positive" ng-controller="TipoExameCtrl as tipoExameCtrl">{{tipoExameList.length}}</span>
	  </a>

	</div>

  </ion-content>
</ion-view>