<ion-view hide-nav-bar="true" view-title="App Clínica">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">

      <div class="mdl-layout__header-row">
        <i menu-toggle="left" class="material-icons" style="position:absolute;left:20px;">menu</i>
        <span class="mdl-layout-title">Clínica App</span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <ion-content>

          <ul class="demo-list-icon mdl-list" >
            <li class="mdl-list__item" ui-sref="main.account" ng-show="userCurrent.isAuthorized">
              <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            Meus Dados
            </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
            <li class="mdl-list__item" ui-sref="main.pacienteSearch" ng-show="userCurrent.isAuthorized">
              <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">supervisor_account</i>
            <span class="mdl-badge" >Meus Pacientes</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
            <li class="mdl-list__item" ui-sref="main.exameSearch" ng-show="userCurrent.isAuthorized">
              <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">map</i>
            <span class="mdl-badge" >Exames</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
            <li class="mdl-list__item" ui-sref="main.tipoExameSearch" ng-show="userCurrent.isAuthorized">
              <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">local_hospital</i>
            <span class="mdl-badge" >Tipo de Exames</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
          </ul>
        </ion-content>
      </div>
    </main>
  </div>
</ion-view>
