<ion-view view-title="Novo Item da Tabela de Exames">
  <ion-content>
    <div class="list">

      <label class="item item-input item-floating-label">
          <span class="input-label">Sigla</span>
          <input type="text" placeholder="Sigla" ng-model="ctrl.novo.sigla">
      </label>

      <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" ng-model="ctrl.novo.nome">
      </label>

      <div class="button-bar">
         <button class="button icon-right ion-plus-round positive" ng-click="ctrl.add()">Novo</button>
        </div>
      </div>

  </ion-content>
</ion-view>