<ion-view view-title="Login" hide-nav-bar="true" >
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="formLogin">

        <h1 class="title"><center>Clínica App</center></h1>
        <h3 class="title"><center>Informe suas credenciais</center></h3>
      <form name="formLogin" novalidate="" ng-submit="ctrl.login(formLogin)" >
          <label class="item item-input" ng-class="{ 'has-errors' : formLogin.email.$invalid, 'no-errors' : formLogin.email.$valid}">
            <input type="text" placeholder="Email" ng-model="ctrl.userCurrent.email" name="email"required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : formLogin.senha.$invalid, 'no-errors' : formLogin.senha.$valid}">
            <input type="password" placeholder="Senha" ng-model="ctrl.userCurrent.senha" name="senha" required>
          </label>
          <div class="button-bar">
            <button class="button button-positive" type="submit" ng-disabled="formLogin.$invalid">
              <span>Login</span>
            </button>
          </div>

      </form>
        <div class="button-bar" >
          <button class="button button-calm" ng-click="ctrl.signin()" >Cadastre-se</button>
          <button class="button" ng-class="isOnline ? 'button-assertive' : 'button-assertive'">Esqueci minha senha?</button>
        </div>

    </div>

  </ion-content>
</ion-view>

<script id="signin.html" type="text/ng-template">
  <ion-modal-view style="height: 63%;">
    <ion-header-bar>
      <h1 class="title">Cadastre-se</h1>
    </ion-header-bar>
    <ion-content  >
      <form name="form" novalidate="" ng-submit="ctrl.sendSign(form)" >
        <label class="item item-input" ng-class="{ 'has-errors' : form.nome.$invalid, 'no-errors' : form.nome.$valid}">
            <input type="text" placeholder="Nome" ng-model="ctrl.userCurrent.nome" name="nome"required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : form.email.$invalid, 'no-errors' : form.email.$valid}">
            <input type="text" placeholder="Email" ng-model="ctrl.userCurrent.email" name="email"required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : form.cpf.$invalid, 'no-errors' : form.cpf.$valid}">
            <input type="text" placeholder="CPF" ng-model="ctrl.userCurrent.cpf" name="cpf"required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : form.telefone.$invalid, 'no-errors' : form.telefone.$valid}">
            <input type="tel" placeholder="telefone" ng-model="ctrl.userCurrent.telefone" name="telefone"required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : form.senha.$invalid, 'no-errors' : form.senha.$valid}">
            <input type="password" placeholder="Senha" ng-model="ctrl.userCurrent.senha" name="senha" required>
          </label>
          <label class="item item-input" ng-class="{ 'has-errors' : form.resenha.$invalid, 'no-errors' : form.resenha.$valid}">
            <input type="password" placeholder="Confirme a Senha" ng-model="ctrl.userCurrent.resenha" name="resenha" required>
          </label>
          <div class="button-bar">
            <button class="button button-positive" type="submit" ng-disabled="form.$invalid">
              <span>Cadastrar</span>
            </button>
          </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
