<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-hacked">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
        <i class="icon material-icons">chevron_left</i>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <i class="icon material-icons" menu-toggle="left">menu</i>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">
    <!-- menu content -->
    <ion-content class="mdl-layout__drawer mdl-layout__drawer-force-open" scroll="false">
      <span class="mdl-layout-title">Clinica App</span>
      <ul class="mdl-list menu-close" >
        <li class="mdl-list__item" ui-sref="main.home">
          <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">home</i>
        Home
        </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        <li class="mdl-list__item" ui-sref="main.login" 
          ng-show="!userCurrent.isAuthorized">
          <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">home</i>
        Login
        </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        <li class="mdl-list__item" ui-sref="main.account" >
          <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person</i>
        Meus Dados
        </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        <li class="mdl-list__item" ui-sref="main.pacienteSearch" >
          <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon mdl-badge mdl-badge--overlap" >supervisor_account</i>
        <span>Meus Pacientes</span>
          </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        <li class="mdl-list__item" ui-sref="main.pacienteDocumentos" >
              <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">fingerprint</i>
            <span class="mdl-badge" >Meus Documentos</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
        </li>
        <li class="mdl-list__item" ui-sref="main.exameSearch" >
          <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon mdl-badge mdl-badge--overlap" >map</i>
        <span>Exame</span>
          </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        <li class="mdl-list__item" ui-sref="main.tipoExameSearch" >
          <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon mdl-badge mdl-badge--overlap" >local_hospital</i>
        <span>Tipo de Exame</span>
          </span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
          </a>
        </li>
        
      </ul>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
