<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-positive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-positive">
      <h1 class="title">Clínica App</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <div class="list">
        <ion-item menu-close ui-sref="main.home" ng-show="!ctrl.userCurrent.isAuthorized">
          Home
        </ion-item>
        <a class="item menu-close item-icon-left item-icon-right" ui-sref="main.login"
         ng-show="!ctrl.userCurrent.isAuthorized">
          <i class="icon ion-person-stalker"></i>
          Login
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item menu-close item-icon-left item-icon-right" ui-sref="main.account"
         ng-show="!ctrl.userCurrent.isAuthorized">
          <i class="icon ion-person-stalker"></i>
          Account
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item menu-close item-icon-left item-icon-right" ui-sref="main.pacienteSearch" 
        ng-show="ctrl.userCurrent.isAuthorized">
          <i class="icon ion-person-stalker"></i>
          Pacientes
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <div class="item item-divider item-positive" ng-show="ctrl.userCurrent.isAuthorized">
          Settings
        </div>
        
        <a class="item menu-close item-icon-left item-icon-right" ui-sref="main.exameSearch" ng-show="ctrl.userCurrent.isAuthorized">
          <i class="icon ion-ios-pulse"></i>
          Exames
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item menu-close item-icon-left item-icon-right" ui-sref="main.tipoExameSearch" ng-show="ctrl.userCurrent.isAuthorized">
          <i class="icon ion-ios-pricetag"></i>
          Tipo de Exame
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
