<ion-view view-title="Não Usar - Deprecated">
  <ion-content>
    <div class="list">

      <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" ng-model="ctrl.novo.nome">
      </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Responsável</span>
          <input type="text" placeholder="Responsável" ng-model="ctrl.novo.responsavel">
      </label>
      <label class="item item-input item-select" ng-init="sexos = ['Masculino','Feminino']">
          <div class="input-label" width="10%">
            Data Nascimento
          </div>
          <input type="date" id="date" name="date" ng-model="ctrl.novo.dataNascimento"
         placeholder="dd/MM/yyyy" min="1900-01-01" max="2050-12-30" required />
      </label>
      <label class="item item-input item-select" ng-init="sexos = ['Masculino','Feminino']">
        <div class="input-label" width="10%">
          Sexo
        </div>
        <select width="90%" style="width: 90%" ng-model="ctrl.novo.sexo" ng-options="sexo for sexo in sexos">
        </select>
      </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Estado Civíl</span>
          <input type="text" placeholder="Estado Civíl" ng-model="ctrl.novo.estadoCivil">
      </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Naturalidade</span>
          <input type="text" placeholder="Naturalidade" ng-model="ctrl.novo.naturalidade">
      </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Profissão</span>
          <input type="text" placeholder="Profissão" ng-model="ctrl.novo.profissao">
      </label>

      <div class="button-bar">
         <button class="button icon-right ion-plus-round positive" ng-click="ctrl.add()">Novo</button>
        </div>
      </div>
  </ion-content>
</ion-view>