<ion-view view-title="Exames">

  <ion-content>
      <label class="item item-input" ng-show="{{ctrl.novo.id}}">
          <span class="input-label">Nome: {{ctrl.novo.nome}}</span>
      </label>
    
    <div class="button-bar">	  
	   
       <button class="button button-positive">7 Resultados</button>
      <button class="button icon ion-android-options"></button>
      <button class="button icon ion-eye"></button>
    </div>



      <ion-list show-delete="ctrl.data.showDelete" show-reorder="ctrl.data.showAdd">
        <div class="item item-divider item-positive">
          Exames
        </div>
        <ion-item ng-repeat="item in ctrl.itensAssociados | orderBy: 'id'" 
                  item="item"
                  class="item-remove-animate">
          {{ item.nome }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="ctrl.onItemDelete(item)">
          </ion-delete-button>
        </ion-item>

        <div class="item item-light" ng-show="!ctrl.itensAssociados[0]">
          Nenhum exame associado ao paciente
        </div>

        <div class="item item-divider item-positive">
          Exames Disponíveis
        </div>

        <ion-item ng-repeat="item in ctrl.exameList | orderBy: 'id'" 
                  item="item"
                  class="item-remove-animate">
          {{ item.nome }}
          <ion-reorder-button class="ion-ios-plus" ng-click="ctrl.onItemAdd(item)">
          </ion-reorder-button>
        </ion-item>
        <div class="item item-light" ng-show="!ctrl.exameList[0]">
          Nenhum exame disponível
        </div>

      </ion-list>

  </ion-content>
</ion-view>