<ion-view view-title="Tipos de Exames">

  <ion-content>
 
    
    <ion-list>	 
       <label class="item item-input" >
          <span class="input-label">Nome: {{ctrl.novo.nome}}</span>
      </label> 
    </ion-list>
    <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in ctrl.exameList | orderBy: 'id'" ui-sref="main.pacienteTipoExame({'pacienteId': ctrl.novo.id, 'tipoExameId': result.id})">
          <i class="icon ion-ios-pulse"></i>
          {{item.nome}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <div class="item item-light" ng-show="!ctrl.exameList[0]">
          Nenhum exame associado ao paciente
        </div>
    </div>

<!--      <ion-list show-delete="ctrl.data.showDelete" show-reorder="ctrl.data.showAdd">
        <div class="item item-divider item-positive">
          Tipos de Exame
        </div>
        <ion-item ng-repeat="item in ctrl.exameList | orderBy: 'id'" 
                  item="item"
                   ng-class="item" ui-sref="main.tabelasList">
          {{ item.nome }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="ctrl.onItemDelete(item)">
          </ion-delete-button>
        </ion-item>
-->


      </ion-list>

  </ion-content>
</ion-view>