<ion-view view-title="Paciente">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-wtf-tabs-hack" ng-class="{'mdl-layout--fixed-tabs' : ctrl.novo.id || ctrl.openModalEdit, 'mdl-tabs-container-hack' : !ctrl.novo.id}">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Paciente</span>
      </div>
      
    </header>

    <main class="mdl-layout__content">
      <div class="page-content">
        <ion-content>

          <ul class="mdl-list">
            <li class="mdl-list__item" 
              ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })" 
              title="Exames" >
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">local_hospital</i>
                Exames
                </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
            <li class="mdl-list__item" 
              ui-sref="main.pacienteDetailEdit({'pacienteId': ctrl.novo.id })" 
              title="Exames" ng-hide="true" >
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">face</i>
                Editar Informações
                </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
          </ul>

        </ion-content>
      </div>
    </main>

    <main class="mdl-layout__content" ng-hide="true">

          <section class="mdl-layout__tab-panel is-active" id="view-user-tab" ng-show="ctrl.openModalShow && ctrl.novo.id">
            <ion-content scroll="false" class="login-background">
            <div class="page-content">
              <div class="user-info-card mdl-card mdl-shadow--2dp" >
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">{{ctrl.novo.nome}} | {{ctrl.calcularIdade(ctrl.novo.dataNascimento)}} Anos</h2>
                </div>

                <div class="mdl-card__menu">
                        <!-- Right aligned menu below button -->
                  <button id="demo-menu-lower-right"
                          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">settings</i>
                  </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                      for="demo-menu-lower-right">
                    <li class="mdl-menu__item" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })" title="Exames" >
                        <i class="material-icons">assessment</i>
                       Exames
                    </li>
                    <li class="mdl-menu__item" ui-sref="main.pacienteProntuario({'pacienteId': ctrl.novo.id })" title="Prontuário">
                        <i class="material-icons">assignment</i>
                       Prontuário
                    </li>
                    <li class="mdl-menu__item" title="Agenda" ui-sref="main.pacienteAgenda({'pacienteId': ctrl.novo.id })">
                        <i class="material-icons">event</i>
                       Agenda
                    </li>
                    <li class="mdl-menu__item" title="Exames" ui-sref="main.pacienteHistorico({'pacienteId': ctrl.novo.id })">
                        <i class="material-icons">timeline</i>
                       Histórico
                    </li>
                    <li class="mdl-menu__item" title="Exames" ui-sref="main.pacienteNotas({'pacienteId': ctrl.novo.id })">
                        <i class="material-icons">comment</i>
                       Notas
                    </li>
                    <li class="mdl-menu__item" title="Exames" ui-sref="main.pacienteDocumentos({'pacienteId': ctrl.novo.id })">
                        <i class="material-icons">attach_file</i>
                       Documentos
                    </li>

                    <li disabled class="mdl-menu__item" title="Exames" ui-sref="main.pacienteLigar({'pacienteId': ctrl.novo.id })">
                        <i class="material-icons">call</i>
                       Ligar
                    </li>
                  </ul>

               </div>
              </div>        
            

                  
             </div>

            </ion-content>
          </section>
          <section class="mdl-layout__tab-panel is-active" id="edit-user-tab" 
          ng-show="ctrl.openModalEdit || !ctrl.novo.id">
            <ion-content class="login-background">
            <div class="page-content">
              <div class="user-edit-delete-form-container">
                <form name="form" class="user-edit-delete-form" novalidate="" ng-submit="ctrl.novo.id ? ctrl.edit(form) : ctrl.add(form)">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="id-input" ng-model="ctrl.novo.id" readonly pattern="-?[0-9]*(\.[0-9]+)?">
                    <label class="mdl-textfield__label" for="id-input">ID</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.nome.$invalid, 'no-errors' : form.nome.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="nome-input" ng-model="ctrl.novo.nome" ng-minlength="5" ng-maxlength="80">
                    <label class="mdl-textfield__label" for="nome-input">Nome</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.cpf.$invalid, 'no-errors' : form.cpf.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="cpf-input" ng-model="ctrl.novo.cpf" ui-br-cpfcnpj-mask maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
                    <label class="mdl-textfield__label" for="cpf-input">CPF</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.rg.$invalid, 'no-errors' : form.rg.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="rg-input" ng-model="ctrl.novo.rg">
                    <label class="mdl-textfield__label" for="rg-input">RG</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.responsavel.$invalid, 'no-errors' : form.responsavel.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="responsavel-input" ng-model="ctrl.novo.responsavel" ng-minlength="5" ng-maxlength="80">
                    <label class="mdl-textfield__label" for="responsavel-input">Responsável</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.dataNascimento.$invalid, 'no-errors' : form.dataNascimento.$valid}" -->
                    <input class="mdl-textfield__input" type="date" id="date-input" ng-model="ctrl.novo.dataNascimento" min="1900-01-01" max="2050-12-30" placeholder="" >
                    <label class="mdl-textfield__label" for="date-input">Data Nascimento</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.telefone.$invalid, 'no-errors' : form.telefone.$valid}" -->
                    <input class="mdl-textfield__input" type="tel" id="telefone-input" ng-model="ctrl.novo.telefone" ui-br-phone-number>
                    <label class="mdl-textfield__label" for="telefone-input">Telefone</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.email.$invalid, 'no-errors' : form.email.$valid}" -->
                    <input class="mdl-textfield__input" type="email" id="email-input" ng-model="ctrl.novo.email">
                    <label class="mdl-textfield__label" for="email-input">Email</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-init="sexos = ['Masculino','Feminino']">
                    <!-- ng-class="{ 'has-errors' : form.sexo.$invalid, 'no-errors' : form.sexo.$valid}" -->
                    <select class="mdl-textfield__input" ng-model="ctrl.novo.sexo" ng-options="sexo for sexo in sexoList" id="sexo-input"></select>
                    <label class="mdl-textfield__label" for="sexo-input">Sexo</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.estadoCivil.$invalid, 'no-errors' : form.estadoCivil.$valid}" -->
                    <select class="mdl-textfield__input" ng-model="ctrl.novo.estadoCivil" ng-options="estadoCivil for estadoCivil in estadoCivilList" id="estadoCivil-input"></select>
                    <label class="mdl-textfield__label" for="estadoCivil-input">Estado Civil</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.naturalidade.$invalid, 'no-errors' : form.naturalidade.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="naturalidade-input" ng-model="ctrl.novo.naturalidade">
                    <label class="mdl-textfield__label" for="naturalidade-input">Naturalidade</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.profissao.$invalid, 'no-errors' : form.profissao.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="profissao-input" ng-model="ctrl.novo.profissao">
                    <label class="mdl-textfield__label" for="profissao-input">Profissão</label>
                  </div>

                  <div class="mdl-textfield button-field">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" ng-disabled="form.$invalid">{{ctrl.novo.id ? 'Editar' : 'Novo'}}</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-if="ctrl.novo.id" ng-click="ctrl.remove()">Remover</button>
                  </div>

                </form>
              </div>
            </div>
            </ion-content>
          </section>


    </main>
  </div>

</ion-view>