<ion-view view-title="Resultados" >
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ui-sref="main.hemogramaAdd" >
        <span>Novo</span>
        <i class="icon ion-person-add"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

  <ion-modal-view 
    style="top: -45%;bottom: 0%;left: 0%;width: 100%;min-height: 400px;margin-top: 5%;">
   <ion-header-bar>
      <h1 class="title">{{tipoExame.nome}}</h1>
    </ion-header-bar>

    <ion-content>

      <div class="button-bar" >
        <button class="button icon ion-grid" style="cursor:pointer" 
          ng-click="ctrl.showGrid = !ctrl.showGrid;ctrl.showTable = !ctrl.showTable;"
          ng-class="ctrl.showGrid ? 'button-calm' : 'button-stable'"
          ></button>
        <button class="button icon ion-ios-grid-view" style="cursor:pointer" 
          ng-click="ctrl.showTable = !ctrl.showTable;ctrl.showGrid = !ctrl.showGrid;"
          ng-class="ctrl.showTable ? 'button-calm' : 'button-stable'"
          ></button>
        <button class="button button-energized icon ion-ios-plus" style="cursor:pointer" 
          title="Inserir novo resultado" ng-click="ctrl.openModalAdd()"></button>
      </div>

    <!-- grid-->
      <div class="button-bar" ng-show="ctrl.showGrid">
        <div class="item button" >
          <button class="button"></button>
        </div>
        <div class="item button button-positive" 
          ng-repeat="data in dataList | orderBy: 'data'" >
          {{data | date: 'dd/MM/yyyy'}}
        </div>
      </div>

      <div  class="button-bar" ng-repeat="sigla in siglaList"  ng-show="ctrl.showGrid">
        <div class="item button" 
          ng-class="$index % 2 === 0 ? 'button-positive' : 'button'">
          {{sigla}}
        </div>
        <div class="item button" ng-repeat="dataExame in dataList | orderBy: 'data'"
           ng-class="siglaList.indexOf(sigla) % 2 === 0  ? 'button' : 'button-positive'" >
          {{ctrl.getValorPorDataPorSigla(dataExame, sigla).valor}}
        </div> 
      </div>


      <!--table simple-->

      <table style="width:100%; heigth: 100%;" class="text-center" ng-show="ctrl.showTable">
        <tr >
          <th>
              &nbsp;
          </th>
          <th ng-repeat="data in dataList | orderBy:'data':reverse" 
            style="background-color: rgb(74, 135, 238)">
            {{data | date: 'dd/MM/yyyy'}}
          </th>
        </tr>
        <tr ng-repeat="sigla in siglaList" style="{{$index % 2 === 0 ?'background-color: rgba(27, 104, 234, 0.44)':'background-color: rgba(208, 210, 214, 0.67)'}}" >
          <td>
            {{sigla}}
          </td>
          <td ng-repeat="exameData in dataList | orderBy: 'data'">
            {{ctrl.getValorPorDataPorSigla(exameData, sigla).valor}}
          </td> 
        </tr>  
      </table>
    </ion-content>

  </ion-modal-view>

  </ion-content>
</ion-view>


<script id="resultado-exame-add.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar>
      <h1 class="title">Novo Resultado de Exame</h1>
    </ion-header-bar>
    <ion-content  >
    <div class="list" ng-init="ctrl.resultado = {}">
      <form name="form" class="" novalidate="" ng-submit="ctrl.resultado.id ? ctrl.resultadoEdit(form) : ctrl.resultadoAdd(form)" >
               <label class="item item-input item-select" ng-class="{ 'has-errors' : form.data.$invalid, 'no-errors' : form.data.$valid}">
                      <div class="input-label"  style="width: 95%" >Data</div>
                      <input  type="date" id="date" name="data" ng-model="ctrl.resultado.data"
                     placeholder="dd/MM/yyyy" min="1900-01-01" max="2050-12-30" required />
               </label>
               <label class="item item-input item-select" ng-class="{ 'has-errors' : form.tipoExame.$invalid, 'no-errors' : form.tipoExame.$valid}">
                  <div class="input-label" style="width: 5%" >
                    Tipo Exame:
                  </div>
                  <select width="90%" style="width: 100%" ng-model="ctrl.resultado.tipo" ng-options="tipoExame.nome for tipoExame in tipoExameList" name="tipoExame" >
                  </select>
                </label>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : form.exame.$invalid, 'no-errors' : form.exame.$valid}">
                  <div class="input-label" style="width: 5%" >
                    Exame:
                  </div>
                  <select width="90%" style="width: 100%" ng-model="ctrl.resultado.exame" ng-options="exame.nome for exame in exameList" name="exame" >
                  </select>
                </label>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : form.valor.$invalid, 'no-errors' : form.valor.$valid}">
                    <div class="input-label" >Valor</div>
                    <input type="text" id="valor" name="valor" ng-model="ctrl.resultado.valor"
                   placeholder="Valor" required />
                </label>

      <div class="button-bar">
        <button class="item button button-positive" ng-disabled="form.$invalid" type="submit" >
          {{ctrl.resultado.id ? 'Editar' : 'Novo'}}
        </button>
      </div>

      <div class="button-bar">
        <a class="button button-assertive" ng-click="ctrl.resultadoRemove()" 
        ng-show="ctrl.resultado.id">
          <span>Remover</span>
        </a>
      </div>

      </form>
    </div>
    </ion-content>
      
  </ion-modal-view>
  </script>