<ion-view view-title="Tabelas de Exames">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.tabelas">
        <h2>Cazuza</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.tabelas">
        <h2>Renato Russo</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.tabelas">
        <h2>Freddie Mercury</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
