<ion-view view-title="Paciente">
  <ion-content >
      
    <div class="list" >
	    <a class="item item-icon-left" ui-sref="main.pacienteData({'pacienteId': ctrl.novo.id })">
          <i class="icon ion-ios-person-outline"></i>
          Dados
          
        </a>
        <a class="item item-icon-left item-icon-right" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })">
          <i class="icon ion-ios-pulse"></i>
          Exames
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

    </div>
    <div class="list">
      
    </div>
  </ion-content>
</ion-view>