<ion-view view-title="Anamnese">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-wtf-tabs-hack" ng-class="{'mdl-layout--fixed-tabs' : ctrl.novo.id || ctrl.openModalEdit, 'mdl-tabs-container-hack' : !ctrl.novo.id}">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Anamnese</span>
      </div>
      
    </header>

    <main class="mdl-layout__content" >
          <section class="mdl-layout__tab-panel is-active"  
          ng-show="ctrl.consulta.anamnese.id">
            <ion-content class="anamnese-background">
            <div class="page-content">
              <div class="user-edit-delete-form-container" style="text-align: center" >
                <form name="form" class="user-edit-delete-form" novalidate="" ng-submit="ctrl.editAnamnese(form)">
                  <h1 class="mdl-layout-title" style="color: white;font-size: 15px;text-align: center">
                    Questionário Anamnese
                  </h1>
                  <hr/>
				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-show="ctrl.consulta.anamnese.id">
                    <input class="mdl-textfield__input" type="text" id="id-input" 
                    ng-model="ctrl.consulta.anamnese.id" disabled ></input>
                    <label class="mdl-textfield__label" for="id-input">
                      ID
                    </label>
                  </div>
				  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" id="anamnese-input" 
                    ng-model="ctrl.consulta.anamnese.anamnese" maxlength="1000" ></textarea>
                    <label class="mdl-textfield__label" for="anamnese-input">
                      Anamnese
                    </label>
                  </div>
				  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" id="diagnostico-input" 
                    ng-model="ctrl.consulta.anamnese.diagnostico" maxlength="500" ></textarea>
                    <label class="mdl-textfield__label" for="diagnostico-input">
                      Diagnóstico
                    </label>
                  </div>
				  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    
                    <textarea class="mdl-textfield__input" type="text" id="pedido-input" 
                    ng-model="ctrl.consulta.anamnese.pedido" maxlength="500">
                    </textarea>
                    <label class="mdl-textfield__label" for="pedido-input">
                     Pedidos de Exame
                    </label>
                  </div>
				  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
                    <textarea class="mdl-textfield__input" id="consulta-input" 
                    ng-model="ctrl.consulta.anamnese.condulta" maxlength="1000"></textarea>
                    <label class="mdl-textfield__label" for="condulta-input">
                      Condulta
                    </label>
                  </div>
                  
                  <br>

                  <div class="mdl-textfield button-field">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" ng-disabled="form.$invalid">Salvar</button>
                    <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-if="ctrl.novo.id" ng-click="ctrl.remove()">Remover</button> -->
                  </div>

                </form>
              </div>
            </div>



            </ion-content>
          </section>


    </main>
  </div>

</ion-view>