<ion-view view-title="Tipos de Exame">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Tipos de Exame</span>

          <!-- {{pacienteList.length}} -->

        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right search-field">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp" ng-model="searchText">
          </div>
        </div>

      </div>
    </header>

    <main class="mdl-layout__content">
      <div class="page-content">
        <ion-content>

          <ul class="mdl-list">
            <li class="mdl-list__item" ng-show="!tipoExameList[0]" style="opacity:.5;pointer-events:none;">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">warning</i>
                Nenhum exame associado ao paciente!
                </span>
            </li>
            <li class="mdl-list__item" ng-repeat="item in tipoExameList | orderBy: 'id'"
            ui-sref="main.pacienteTipoExame({'pacienteId': ctrl.novo.id, 'tipoExameId': item.id})">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">assignment</i>
                {{item.nome}}
                </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
          </ul>

        </ion-content>
      </div>
    </main>
  </div>
</ion-view>
