<ion-view view-title="Resultados">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Resultados</span>

        <button class="right-bottom-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="ctrl.addDate()">
            <i class="material-icons" title="Add resultados">add</i>
        </button>

      </div>
    </header>

    <main class="mdl-layout__content" >
      <div class="page-content">
        <ion-content>

      <!--table simple-->
<!--
      <table style="width:100%; heigth: 100%;" class="text-center" 
        ng-show="ctrl.showSelectedTable === 'table'">
        <tr >
          <th>
              &nbsp;
          </th>
          <th ng-repeat="data in dataList | orderBy:'data':reverse" 
            style="background-color: rgb(74, 135, 238)">
            {{data | date: 'dd/MM/yyyy'}}
          </th>
        </tr>
        <tr ng-repeat="sigla in siglaList" style="{{$index % 2 === 0 ?'background-color: rgba(27, 104, 234, 0.44)':'background-color: rgba(208, 210, 214, 0.67)'}}" >
          <td>
            {{sigla}}
          </td>
          <td ng-repeat="exameData in dataList | orderBy: 'data'">
            {{ctrl.getValorPorDataPorSigla(exameData, sigla).valor}}
          </td>
        </tr>
      </table>
-->
<!-- material -->

      
      <table 
        class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
        <thead>

          <tr >
            <th class="mdl-data-table__cell--non-numeric">
                &nbsp;
            </th>
            <th class="mdl-data-table__cell--non-numeric" 
              ng-repeat="data in dataList | orderBy:'data'" >
              
              <!-- Deletable Chip -->
                  <!-- Deletable Chip -->
                  <span class="mdl-chip mdl-chip--deletable" 
                    ng-click="ctrl.removeLastDate()">
                      <span class="mdl-chip__text">{{data | date: 'dd/MM/yyyy'}}</span>
                  </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sigla in siglaList" style="{{$index % 2 === 0 ?'background-color: rgba(27, 104, 234, 0.44)':'background-color: rgba(208, 210, 214, 0.67)'}}" >
            <td class="mdl-data-table__cell--non-numeric">
              {{sigla}}
            </td>
            <td class="mdl-data-table__cell--non-numeric"
              ng-repeat="exameData in dataList | orderBy: 'data'" >
              <!-- Button Chip -->
              <button type="button" class="mdl-chip" 
              ng-show="ctrl.getValorPorDataPorSigla(exameData, sigla).valor !== 'vazio'">
                  <span class="mdl-chip__text" ng-click="ctrl.updateResult(exameData, sigla)">
                    {{ctrl.getValorPorDataPorSigla(exameData, sigla).valor}}
                  </span>
              </button>
              
               <!-- Button Chip -->
              
              <button type="button button-light" class="mdl-chip" 
              ng-show="ctrl.getValorPorDataPorSigla(exameData, sigla).valor === 'vazio'">
                  <span class="mdl-chip__text" ng-click="ctrl.addResultInDate(exameData, sigla, $index)">
                    ---
                  </span>
              </button>

            </td>
          </tr>
        </tbody>
      </table>

      <div class="button-bar" >
        <div class="button button-positive" style="cursor:default;" >
          Exame
        </div>
        <div class="button button-positive" style="cursor:default">
          Data
        </div>
        <div class="button button-positive" style="cursor:default">
          Valor
        </div>
        <div class="item item-positive ion-arrow-down-b col-5" >
        </div>
      </div>
      <div class="button-bar" ng-repeat="resultado in resultadoExameList | orderBy: 'data':'data'" >
        <div class="button" 
        ng-class="$index % 2 === 0? 'button-light' : 'button-positive'" 
        style="cursor:default" >
          {{resultado.exame.nome}}
        </div>
        <div class="button" 
        ng-class="$index % 2 === 0? 'button-light' : 'button-positive'"
        style="cursor:default">
          {{resultado.data | date: 'dd/MM/yyyy'}}
        </div>
        <div class="button" 
        ng-class="$index % 2 === 0? 'button-light' : 'button-positive'"
        style="cursor:default">
          {{resultado.valor}}
        </div>
        <div class="item item-assertive ion-ios-trash col-5" style="cursor:pointer" 
                title="Remover" ng-click="ctrl.resultadoRemove(resultado)"></div>
      </div>
      <div class="button-bar" ng-show="resultadoExameList.length === 0">
        <div class="button button-light" style="cursor:default" >
          Nenhum registro encontrado!
        </div>
      </div>
       
    </div>
  </ion-content>
  </main>
</ion-view>
