<ion-view view-title="Consultas">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Consulta</span>

        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right search-field">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="searchText">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="searchText" id="searchText" ng-model="ctrl.searchText">
          </div>
        </div>

      </div>
    </header>

    <main class="mdl-layout__content">
      <div class="page-content">
        <ion-content>
			<span class="mdl-list__item">{{ctrl.consulta.data | date: 'dd/MM/yyyy'}}</span>
          <ul class="mdl-list">
            <li class="mdl-list__item" 
              ui-sref="main.pacienteAnamnese({'pacienteId': ctrl.novo.id,'consultaId': ctrl.consulta.id })" 
              title="Anamnese" >
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">assignment</i>
                Anamnese
                </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
            <li class="mdl-list__item" 
              ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })" 
              title="Exames" >
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">local_hospital</i>
                Exames
                </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-list__item-icon">chevron_right</i></a>
            </li>
          </ul>

        </ion-content>
      </div>
    </main>
	 <!-- Button Chip -->
		      <button class="right-bottom-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" 
			  ng-click="ctrl.addConsulta()">
				<i class="material-icons">add</i>
			  </button>
  </div>
</ion-view>
