<ion-view view-title="{{(ctrl.novo.nome)? ctrl.novo.nome : 'Novo Paciente'}}">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-wtf-tabs-hack" ng-class="{'mdl-layout--fixed-tabs' : ctrl.novo.id || ctrl.openModalEdit, 'mdl-tabs-container-hack' : !ctrl.novo.id}">

    <header ion-nav-bar class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{(ctrl.novo.nome)? ctrl.novo.nome : 'Novo Paciente'}}</span>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect" ng-show="ctrl.novo.id">
        <a href="#view-user-tab" class="mdl-layout__tab is-active" ng-click="ctrl.openModalShow = !ctrl.openModalShow; ctrl.openModalEdit = false;">
          <i class="material-icons">remove_red_eye</i>
        </a>
        <a href="#edit-user-tab" class="mdl-layout__tab" ng-click="ctrl.openModalEdit = !ctrl.openModalEdit;ctrl.openModalShow=false;">
          <i class="material-icons">mode_edit</i>
        </a>
      </div>
    </header>

    <main class="mdl-layout__content">
          <section class="mdl-layout__tab-panel is-active" id="view-user-tab" ng-show="ctrl.openModalShow && ctrl.novo.id">
            <ion-content scroll="false" class="login-background">
            <div class="page-content">

              <div class="user-info-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">{{ctrl.novo.nome}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">person</i>
                      {{ctrl.novo.nome}}
                  </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">event</i>
                      {{ctrl.novo.dataNascimento | date: 'dd/MM/yyyy'}}
                    </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">perm_contact_calendar</i>
                      {{ctrl.calcularIdade(ctrl.novo.dataNascimento)}} Anos
                    </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">email</i>
                      {{ctrl.novo.email}}
                    </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">phone</i>
                      {{ctrl.novo.telefone}}
                    </span>
                    </li>
                  </ul>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })">
                      <i class="material-icons mdl-list__item-icon">show_chart</i>
                    Exames
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="main.pacienteDocumentos({'pacienteId': ctrl.novo.id })">
                    <i class="material-icons mdl-list__item-icon">contact_phone</i>
                    Documentos
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })">
                    <i class="material-icons mdl-list__item-icon">clear_all</i>
                    Consultas
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })">
                    <i class="material-icons mdl-list__item-icon">info</i>
                    Observações
                  </a>
                </div>

              </div>

            </div>
            </ion-content>
          </section>

          <section class="mdl-layout__tab-panel is-active" id="edit-user-tab" ng-show="ctrl.openModalEdit || !ctrl.novo.id">
            <ion-content class="login-background">
            <div class="page-content">
              <div class="user-edit-delete-form-container">
                <form name="form" class="user-edit-delete-form" novalidate="" ng-submit="ctrl.novo.id ? ctrl.edit(form) : ctrl.add(form)">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="id-input" ng-model="ctrl.novo.id" readonly pattern="-?[0-9]*(\.[0-9]+)?">
                    <label class="mdl-textfield__label" for="id-input">ID</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.nome.$invalid, 'no-errors' : form.nome.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="nome-input" ng-model="ctrl.novo.nome" ng-minlength="5" ng-maxlength="80">
                    <label class="mdl-textfield__label" for="nome-input">Nome</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.cpf.$invalid, 'no-errors' : form.cpf.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="cpf-input" ng-model="ctrl.novo.cpf" ui-br-cpfcnpj-mask maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
                    <label class="mdl-textfield__label" for="cpf-input">CPF</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.rg.$invalid, 'no-errors' : form.rg.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="rg-input" ng-model="ctrl.novo.rg">
                    <label class="mdl-textfield__label" for="rg-input">RG</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.responsavel.$invalid, 'no-errors' : form.responsavel.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="responsavel-input" ng-model="ctrl.novo.responsavel" ng-minlength="5" ng-maxlength="80">
                    <label class="mdl-textfield__label" for="responsavel-input">Responsável</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.dataNascimento.$invalid, 'no-errors' : form.dataNascimento.$valid}" -->
                    <input class="mdl-textfield__input" type="date" id="date-input" ng-model="ctrl.novo.dataNascimento" min="1900-01-01" max="2050-12-30" placeholder="">
                    <label class="mdl-textfield__label" for="date-input">Data Nascimento</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.telefone.$invalid, 'no-errors' : form.telefone.$valid}" -->
                    <input class="mdl-textfield__input" type="tel" id="telefone-input" ng-model="ctrl.novo.telefone" ui-br-phone-number>
                    <label class="mdl-textfield__label" for="telefone-input">Telefone</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.email.$invalid, 'no-errors' : form.email.$valid}" -->
                    <input class="mdl-textfield__input" type="email" id="email-input" ng-model="ctrl.novo.email">
                    <label class="mdl-textfield__label" for="email-input">Email</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-init="sexos = ['Masculino','Feminino']">
                    <!-- ng-class="{ 'has-errors' : form.sexo.$invalid, 'no-errors' : form.sexo.$valid}" -->
                    <select class="mdl-textfield__input" ng-model="ctrl.novo.sexo" ng-options="sexo for sexo in sexoList" id="sexo-input"></select>
                    <label class="mdl-textfield__label" for="sexo-input">Sexo</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.estadoCivil.$invalid, 'no-errors' : form.estadoCivil.$valid}" -->
                    <select class="mdl-textfield__input" ng-model="ctrl.novo.estadoCivil" ng-options="estadoCivil for estadoCivil in estadoCivilList" id="estadoCivil-input"></select>
                    <label class="mdl-textfield__label" for="estadoCivil-input">Estado Civil</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.naturalidade.$invalid, 'no-errors' : form.naturalidade.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="naturalidade-input" ng-model="ctrl.novo.naturalidade">
                    <label class="mdl-textfield__label" for="naturalidade-input">Naturalidade</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- ng-class="{ 'has-errors' : form.profissao.$invalid, 'no-errors' : form.profissao.$valid}" -->
                    <input class="mdl-textfield__input" type="text" id="profissao-input" ng-model="ctrl.novo.profissao">
                    <label class="mdl-textfield__label" for="profissao-input">Profissão</label>
                  </div>

                  <div class="mdl-textfield button-field">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" ng-disabled="form.$invalid">{{ctrl.novo.id ? 'Editar' : 'Novo'}}</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-if="ctrl.novo.id" ng-click="ctrl.remove()">Remover</button>
                  </div>

                </form>
              </div>
            </div>
            </ion-content>
          </section>


    </main>
  </div>

</ion-view>
