<ion-view view-title="Paciente">
  <ion-content >

  <div class="button-bar">
    <button type="button" class="button icon ion-eye"
     ng-class="ctrl.openModalShow ? 'button-positive' : 'sem-cor branco'" ng-click="ctrl.openModalShow = !ctrl.openModalShow; ctrl.openModalEdit = false;" ></button>
    <button type="button" class="button icon ion-edit" 
    ng-class="ctrl.openModalEdit ? 'button-positive' : 'sem-cor branco'" ng-click="ctrl.openModalEdit = !ctrl.openModalEdit;ctrl.openModalShow=false;" ></button>
  </div>
  <div class="list branco" ng-show="ctrl.openModalShow && ctrl.novo.id">
    <a class="item sem-cor item-icon-left item-icon-right" >
         <i class="icon ion-android-contact"></i>
        {{ctrl.novo.nome}}
        <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

    <a class="item sem-cor item-icon-left item-icon-right" ui-sref="main.pacienteExames({'pacienteId': ctrl.novo.id })">
      <i class="icon ion-ios-pulse"></i>
      Exames
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

  </div>

  <!-- form edit-->

  <div class="list" ng-show="ctrl.openModalEdit || !ctrl.novo.id">
      <form name="form" class="" novalidate="" ng-submit="ctrl.novo.id ? ctrl.edit(form) : ctrl.add(form)" >
                <label class="item item-input" ng-show="ctrl.novo.id">
                    <span class="input-label">Código</span>
                    <input type="text" placeholder="ID" ng-model="ctrl.novo.id">
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.nome.$invalid, 'no-errors' : form.nome.$valid}">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" name="nome" ng-model="ctrl.novo.nome" ng-minlength="5" ng-maxlength="80" required>
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.cpf.$invalid, 'no-errors' : form.cpf.$valid}">
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="CPF" name="cpf" ng-model="ctrl.novo.cpf" required ui-br-cpfcnpj-mask maxlength="14">
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.rg.$invalid, 'no-errors' : form.rg.$valid}">
                    <span class="input-label">RG</span>
                    <input type="text" placeholder="RG" name="rg" ng-model="ctrl.novo.rg" required>
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.responsavel.$invalid, 'no-errors' : form.responsavel.$valid}">
                    <span class="input-label">Responsável</span>
                    <input type="text" placeholder="Responsável" ng-model="ctrl.novo.responsavel" name="responsavel" ng-minlength="5" ng-maxlength="80" required>
                </label>

                <label class="item item-input item-select" ng-init="sexos = ['Masculino','Feminino']" ng-class="{ 'has-errors' : form.dataNascimento.$invalid, 'no-errors' : form.dataNascimento.$valid}">
                    <div class="input-label" >Data Nascimento</div>
                    <input type="date" id="date" name="dataNascimento" ng-model="ctrl.novo.dataNascimento"
                   placeholder="dd/MM/yyyy" min="1900-01-01" max="2050-12-30" required />
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.telefone.$invalid, 'no-errors' : form.telefone.$valid}">
                    <span class="input-label">Telefone</span>
                    <input type="tel" placeholder="Telefone" name="telefone" ng-model="ctrl.novo.telefone" required  ui-br-phone-number>
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.email.$invalid, 'no-errors' : form.email.$valid}">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" name="email" ng-model="ctrl.novo.email" required>
                </label>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : form.sexo.$invalid, 'no-errors' : form.sexo.$valid}">
                  <div class="input-label" width="10%">
                    Sexo
                  </div>
                  <select width="90%" style="width: 90%" ng-model="ctrl.novo.sexo" ng-options="sexo for sexo in sexoList" name="sexo">
                  </select>
                </label>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : form.estadoCivil.$invalid, 'no-errors' : form.estadoCivil.$valid}">
                  <div class="input-label" width="10%">
                    Estado Civil
                  </div>
                  <select width="90%" style="width: 90%" name="estadoCivil" ng-model="ctrl.novo.estadoCivil" ng-options="estadoCivil for estadoCivil in estadoCivilList">
                  </select>
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : form.naturalidade.$invalid, 'no-errors' : form.naturalidade.$valid}">
                    <span class="input-label">Naturalidade</span>
                    <input type="text" placeholder="Naturalidade" name="naturalidade" ng-model="ctrl.novo.naturalidade">
                </label>

                <label class="item item-input" 
                ng-class="{ 'has-errors' : form.profissao.$invalid, 'no-errors' : form.profissao.$valid}">
                    <span class="input-label">Profissão</span>
                    <input type="text" 
                    placeholder="Profissão" 
                    name="profissao" 
                    ng-model="ctrl.novo.profissao"
                    >
                </label>


                <div class="button-bar">
                  <button class="button button-positive" type="submit" ng-disabled="form.$invalid">
                    <span>{{ctrl.novo.id ? 'Editar' : 'Novo'}}</span>
                  </button>
                  <a class="button button-assertive" ng-click="ctrl.remove()" 
                  ng-show="ctrl.novo.id">
                    <span>Remover</span>
                  </a>
                </div>
                <br>
                <br>
      </form>
</div>

  </ion-content>
</ion-view>