<ion-modal-view>
    <ion-content class="login-background no-header">

      <button class="mdl-button mdl-js-button mdl-button--icon button-close-modal" ng-click="ctrl.closeModal()">
        <i class="material-icons">close</i>
      </button>

      <div class="login-box-container signup-box">

        <h1 class="title text-center">Clínica App Test</h1>
        <h5 class="title text-center">Cadastro</h5>

        <form name="form" class="form-login form-signup" novalidate="" ng-submit="ctrl.sendSign(form)">

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="nome-input" ng-model="ctrl.userCurrent.nome" name="nome">
            <label class="mdl-textfield__label" for="nome-input">Nome</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email-input" ng-model="ctrl.userCurrent.email" name="email" >
            <label class="mdl-textfield__label" for="email-input">Email</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="cpf-input" ng-model="ctrl.userCurrent.cpf" name="cpf" ui-br-cpfcnpj-mask maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
            <label class="mdl-textfield__label" for="cpf-input">CPF</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <!-- ng-class="{ 'has-errors' : form.telefone.$invalid, 'no-errors' : form.telefone.$valid}" -->
            <input class="mdl-textfield__input" type="tel" maxlength="16" id="tel-input" ng-model="ctrl.userCurrent.telefone" name="telefone" ui-br-phone-number>
            <label class="mdl-textfield__label" for="tel-input">Telefone</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <!-- ng-class="{ 'has-errors' : form.senha.$invalid, 'no-errors' : form.senha.$valid}" -->
            <input class="mdl-textfield__input" type="password" id="pass-input" ng-model="ctrl.userCurrent.senha" name="senha">
            <label class="mdl-textfield__label" for="pass-input">Senha</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <!-- ng-class="{ 'has-errors' : form.resenha.$invalid, 'no-errors' : form.resenha.$valid}" -->
            <input class="mdl-textfield__input" type="password" id="repass-input" ng-model="ctrl.userCurrent.resenha" name="resenha">
            <label class="mdl-textfield__label" for="repass-input">Confirme a Senha</label>
            <span class="mdl-textfield__error">Oops! Algo de errado aqui...</span>
          </div>

          <div class="mdl-textfield button-field">
            <button class="login-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" ng-disabled="form.$invalid">SING UP</button>
          </div>

        </form>

      </div>
    </ion-content>
  </ion-modal-view>