<ion-view view-title="Tabelas de Exames">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.hemograma">
        <h2>Hemograma</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.eas">
        <h2>EAS</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.parasitologico">
        <h2>Parasitológico</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Curva Glicêmica</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Provas de Função Hepática</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Parametros de Acompanhamento do HIV</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Sorologias</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Dosagem Hormonais</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-remove-animate item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <h2>Lipidograma</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
