<ion-view hide-nav-bar="true" view-title="App Clínica">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">

      <div class="mdl-layout__header-row">
        <i menu-toggle="left" class="material-icons" style="position:absolute;left:20px;">menu</i>
        <span class="mdl-layout-title">Resultados</span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <ion-content>


			   
			    

          
        </ion-content>
      </div>
    </main>
  </div>
</ion-view>
