<ion-view view-title="Tabelas de Exame">
  <ion-content>

    <div class="list">
      <a class="item item-icon-left item-icon-right" ui-sref="main.tabelaAdd">
        <span>Novo</span>
        <i class="icon ion-person-add"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon" ></i>
        <input type="text" placeholder="Search" 
         ng-model="searchText">
        <span class="badge badge-positive" ng-bind="tabelas.length"></span>
      </label>

      <a class="item item-icon-right" 
       ui-sref="main.tabelaDetail({'tabelaId': result.id})" ng-repeat="result in tabelas | filter:searchText">
        <span>{{result.id}} - {{result.nome}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
