  <ion-tabs class="tabs-positive tabs-icon-top">
	  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="main.home">
	    <!-- Tab 1 content -->
    
	  </ion-tab>
	
	  <ion-tab title="Status" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" ui-sref="main.menu">
	    <!-- Tab 2 content -->
	    
	  </ion-tab>
	
	  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="main.debug">
	    <!-- Tab 3 content -->
	    	
	  </ion-tab>
	  <ion-tab title="New Food" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="main.buy">
	    <!-- Tab 4 content -->
	    	
	  </ion-tab>
	 
  </ion-tabs>
   <!-- ROUTING INJECTED HERE: pageContent -->
  <ion-nav-view name="pageContent"></ion-nav-view>
