<ion-view view-title="Meus Dados" >
  <!-- do you want padding? -->
  <ion-content class="padding">
  <div class="list" >
     <div class="card" >
      <div class="item">
         
        <h2 ><i class="ion-android-contact"></i>&nbsp;{{userCurrent.nome}}</h2>
        <p>{{userCurrent.data | date: 'dd/MM/yyyy'}}</p>
        <p>Email: {{userCurrent.email}}</p>
      </div>
    </div>
  </div>
  <!-- form edit-->

  <div class="list" >
      <form name="form" class="" novalidate="" ng-hide="true" ng-submit="ctrl.edit(form)" >
                <label class="item item-input" >
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="ctrl.userCurrent.nome">
                </label>
                 <label class="item item-input" >
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" disabled ng-model="ctrl.userCurrent.email">
                </label>
<!--                <label class="item item-input" >
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="CPF" disabled ng-model="ctrl.userCurrent.cpf" ui-br-cpfcnpj-mask/>
                </label>
                <div class="button-bar">
                  <button class="button button-positive" type="submit" ng-disabled="form.$invalid">
                    <span>Editar</span>
                  </button>
                </div>
-->
      </form>

    </div>

  </ion-content>
</ion-view>
