<ion-view view-title="Meus Dados" >
  <!-- do you want padding? -->
  <ion-content class="padding">
     <div class="list card" style="text-align: center;">
      <div class="item item-avatar">
         <i class="ion-android-contact"></i>
        <h2 >{{userCurrent.nome}}</h2>
        <p>{{userCurrent.data | date: 'dd/MM/yyyy'}}</p>
        <p>Email: {{userCurrent.email}}</p>
      </div>
    </div>
  <!-- form edit-->

  <div class="list" >
      <form name="form" class="" novalidate="" ng-submit="ctrl.novo.id ? ctrl.edit(form) : ctrl.add(form)" >
                <label class="item item-input" >
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="userCurrent.nome">
                </label>
                 <label class="item item-input" >
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" disabled ng-model="userCurrent.email">
                </label>
                 <label class="item item-input" >
                    <span class="input-label">Caminho Imagem</span>
                    <input type="text" placeholder="Caminho Imagem" ng-model="userCurrent.srcImg" >
                </label>
               <label class="item item-input" >
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="******" ng-model="userCurrent.senha">
                </label>

    </div>

  </ion-content>
</ion-view>
